.navbar-brand {

  background: -webkit-linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(0,255,31,1) 18%, rgba(0,0,255,1) 35%, rgba(255,0,209,1) 51%, rgba(255,0,31,1) 75%, rgba(0,212,255,1) 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}